@import url('../fonts/aghto/stylesheet.css');
@import url('../fonts/bell/stylesheet.css');



.alghato {
    font-family: 'Agatho';
}

nav {
    font-family: 'Bell MT Std';
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Naskh Arabic', serif;
    font-family: 'Outfit', sans-serif;
}

.banner-section {
    background-image: linear-gradient(to right, #173C52 , #297098);
    border-radius: 25px;
}

.bg-gradient {
    background-image: linear-gradient(to right, #173c52 , #1c4963);
}



.h100vh {
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
}

.head-1 {
    font-size: 5vw;
    line-height: 1;
}

.head-2 {
    font-size: 4vw;
    line-height: 1;
}

.head-3 {
    font-size: 3vw;
    line-height: 1;
}

.mainMenu {
    background-color: #fff;
    position: relative;
    margin: 0 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


.mainMenu:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    width: 60px;
    height: 100%;
    background: #ffffff;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(30deg);
    border-top-left-radius: 0;
    border-bottom-left-radius: 25px;
}

.mainMenu:after {
    content: '';
    position: absolute;
    top: 0;
    width: 60px;
    right: -15px;
    height: 100%;
    background: #ffffff;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-30deg);
    border-top-left-radius: 0;
    border-bottom-right-radius: 25px;
}

.scrollBottom:after {
    content: '';
    position: absolute;
    top: 0;
    width: 60px;
    right: -30px;
    height: 100%;
    background: #ffffff;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-30deg);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0px;
}

.btn-theme-primary {
    background-color: #fff;
    border-radius: 50px;
    padding: 12px 50px;
    text-align: center;
    color: #297098;
    text-decoration: none;
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}

.btn-theme-primary:after {
    content: '';
    width: 24%;
    height: 80%;
    position: absolute;
    background-color: #8aee56;
    border-radius: 50px;
    left: -25px;
    top: -3px;
    border: 5px solid rgb(190 255 156);
}

.btn-theme-primary:hover {
    background-color: transparent;
    z-index: 9999;
    text-decoration: none;
    transition: .5s;
    color: #fff;
}
.btn-theme-primary:hover:after {
    width: 100%;
    height: 100%;
    background-color: #8aee56;
    border-radius: 50px;
    left: 0px;
    top: 0px;
    border: 5px solid transparent;
    transition: .5s;
    color: #fff;
    z-index: -1;
}

.socialIcon {
    display: flex;
    gap: 15px;
    align-items: center;
}

.socialIcon a {
    color: #fff;
    font-size: 18px;
}

a.navbar-brand img {
    width: 90px;
}

.gap-15 {
    gap: 15px;
}

.statsBox .col-md-3 {
    padding-top: 15px;
}

.scrollItems {
    font-size: 2vw;
}

.business-banner {
    background-image: url('../images/business.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon-shadow p {
    border: 1px solid #ffffff78;
    padding: 6px 10px;
    border-radius: 10px;
}

.text-theme-primary {
    color : #297098;
}

.text-theme-secondary {
    color: #8AEE56;
}

.bg-theme-secondary {
    background-color: #8AEE56;
}

.payrimid-box {
    height: 379px;
    display: flex;
    justify-content: end;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 48% 100%, 0% 100%);
    background-image: url(../images/rightImage.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.payrimid-box > div {
    height: 266px;
    width: 387px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    flex-wrap: wrap;
}

.pyrimidContent {
    width: 250px;
    text-align: center;
    padding: 10px 0;
}
.shadows {
    filter: drop-shadow(-6px 5px 9px rgba(50, 50, 0, 0.2));
}

.right-pyrimid {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%) !important;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%) !important;
    background-size: cover;
    align-items: end;
    justify-content: start;
}

.right-pyrimid > div {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(48% 0%, 0% 100%, 100% 100%);
    align-items: end;
}

.left-props {
    left: 90px;
}

.right-props {
    right: 90px;
}

.pyrimidContent h3 {
    padding: 0 44px;
    font-size: 24px;
}

.wealth-plan, .business-banners {
    padding: 80px 0;
}

.package-head {
    text-align: center;
    color: #fff;
    padding: 25px 0;
}

.package-tag {
    background-color: #ffffff36;
    display: inline-block;
    padding: 1px 25px;
    border-radius: 50px;
    margin-bottom: 15px;
}


.package-content {
    height: 270px;
    padding: 25px 0;
}

.package-content ul {
    padding: 0px 20px;
    list-style: none;
}

.package-content li:before {
    content: "\f63b";
    font-family: 'bootstrap-icons';
    position: absolute;
    left: -30px;
}

.package-content li {
    font-size: 18px;
    position: relative;
    margin: 10px 45px;
    color: #000000ad;
    font-family: 'Outfit';
}

.package-footer {
    padding: 30px 0;
}

.sbuscriber {
    border: 2px solid #297098;
    background: transparent;
    padding: 10px  40px;
    border-radius: 50px;
    color: #297098;
    font-weight: 500;
}

.packagePlan {
    border-radius: 5px;
    overflow: hidden;
}

.ratingStars i {
    color: #FFBB00;
}

.testimonial-content {
    position: relative;
    padding-right: 60px;
}

.testimonial-content:after {
    content: '\F6B0';
    font-family: 'bootstrap-icons';
    font-size: 50px;
    position: absolute;
    top: -30px;
    right: 0;
    transform: rotate(180deg);
    color: #aeaeae;
}

.appointment {
    background: url(../images/top.png) top center no-repeat, url(../images/bottom.png) bottom center no-repeat;
    background-size: contain, contain;
    padding: 130px 0;
}


.form-input {
    width: 100%;
    padding: 10px 18px;
    margin: 6px 0;
    border-radius: 50px;
    border: none;
    background-color: #F3F3F3;
}

textarea.form-input {
    border-radius: 5px;
}

.appoint-form {
    position: absolute;
    width: 100%;
    top: -200px;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 20px;
    left: -40px;
}

.newsletter {
    width: 100%;
    border-bottom: 1px solid #000 !important;
    outline: none;
}

.news-controls button {
    position: absolute;
    right: 0;
    font-size: 26px;
    top: 10px;
}

.social-link {
    font-size: 20px;
}

.social-link a:after {
    content: '';
    border: 1px solid #000;
    position: absolute;
    height: 18px;
    top: 7px;
    transform: rotate(20deg);
    left: -9px;
    background-color: #000;
}

.social-link a {
    position: relative;
    padding: 0 10px;
}

.social-link a:first-child:after {
    display: none;
}

.menu-footer {
    padding: 0;
    list-style: none;
}

.menu-footer li a {
    color: #000;
}

.menu-footer li {
    margin-bottom: 20px;
}

.copy-right {
    background-color: #297098;
    text-align: center;
}

footer {
    padding-top: 40px;
}

.sbuscriber:hover {
    background-color: #1b4660;
    color: #fff;
}


/* login */

.login-section {
    background-image: url(../images/auth.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-theme-primary {
    background-color: #297098 !important;
}

.forgot-section {
    background-image: url(../images/auth.png);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blurText {
    background-color: rgb(255 255 255);
    color: #000;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 35%;
    padding: 40px 20px;
    text-align: center;
    border-radius: 20px;
}

.rcode {
    position: absolute;
    right: 20px;
    top: 15px;
}

.payrimid-box-status {
    background-color: #297098;
    padding: 15px;
    border-radius: 15px;
}


.status {
    display: inline-block;
    background-color: #8aee56a6;
    border-radius: 50px;
    padding: 3px 18px;
    margin-bottom: 5px;
}
.inprocess {
    background-color: #ffe875c9;
}

.pending {
    background-color: #f8b6a8a6;
}

.pyrimid-section-shadow {
    filter: blur(50px);
    -webkit-filter: blur(120px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0 182 255 / 38%);
}

.pyramid__shape {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 595px;
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.pyramid__steps {
    flex: 1 1 100%;
    background-color: #fff;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pyrimid-form {
    background-color: #297098;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    width: 80%;
    margin: auto;
    position: relative;
}

.action-btn {
    display: flex;
    flex-direction: column;
}

.action-btn > button {
    flex-grow: 1;
}

.step-form input::placeholder {
    color: #fff;
}

.step-bar {
    width: 100%;
    border: 1px solid #ffffff47;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.activeBar {
    background-color: #8aee56;
    display: block;
    height: 9px;
    width: 0;
    transition: .5s;
}

.step-form {
    display: none;
}

.active {
    display: block;
}

.activePyrimid {
    background-color: #297098;
    color: #fff;
}

.activePyrimid h3 {
    font-size: 22px;
}

.activePyrimid p {
    font-size: 14px;
    font-weight: 300;
}

.fourth-payrimid .develop {
    padding: 9px 15px !important;
    font-size: 13px;
}

.pyramid__shape > div:first-child {
    font-size: 12px;
    position: relative;
    padding-top: 50px;
}

.complete-payrimid >  div > div:first-child {
    padding-top: 80px;
    padding-left: 15px;
}

.text-golden {
    color: #8F8100;
}

.text-orange {
    color: #FF8000;
}

.rounded-20 {
    border-radius: 20px;
}
.theme-shape {
    -webkit-clip-path: polygon(30% 9%, 70% 9%, 80% 0, 100% 0, 100% 90%, 33% 90%, 27% 100%, 0 100%, 0 0, 18% 0);
    clip-path: polygon(30% 9%, 70% 9%, 80% 0, 100% 0, 100% 90%, 33% 90%, 27% 100%, 0 100%, 0 0, 18% 0);
    height: 100vh;
}

.authBg {
    background-image: url(../images/loginBg.png);
    background-size: cover;
    background-position: center;
}

/* admin actor */

.login-admin {
    -webkit-clip-path: polygon(30% 9%, 70% 9%, 80% 0, 100% 0, 100% 90%, 33% 90%, 27% 100%, 0 100%, 0 0, 18% 0);
    clip-path: polygon(30% 9%, 70% 9%, 80% 0, 100% 0, 100% 90%, 33% 90%, 27% 100%, 0 100%, 0 0, 18% 0);
    background-image: url(../images/bgPearl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fafafa;
}

